# =========================
# PostgreSQL
# =========================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fraudlens
POSTGRES_USER=fraudlens
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DW_SCHEMA=fraudlens_dw

# =========================
# Kafka
# =========================
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

KAFKA_TOPIC_RAW=raw_transactions
KAFKA_TOPIC_ENRICHED=enriched_transactions
KAFKA_TOPIC_ALERTS=fraud_alerts
KAFKA_TOPIC_DLQ=dlq_transactions

PRODUCER_DELAY_SECONDS=0.05

# =========================
# Spark
# =========================
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_DRIVER_MEMORY=512m
SPARK_EXECUTOR_MEMORY=1g
SPARK_SHUFFLE_PARTITIONS=4

# =========================
# Airflow
# =========================
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=your_fernet_key
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True

AIRFLOW_UID=50000

# =========================
# Grafana
# =========================
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_grafana_password