# Environment
.env
*.env

# Data files (too large for git)
data/raw/*.csv
data/raw/*.parquet

# Virtual environment
FraudLens/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml
dbt/dbt_packages/

# Spark
spark/checkpoints/

# Airflow
airflow/logs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
Froud/
